:root {
  --color1: #cbc1b2;
  --color2: #8f8679;
  --color3: #575147;
  --color4: #fff;
  --color5: #000;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "vazirReg";
  background-image: url(./../public/images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  line-height: 1.4;
}
.nav {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.logoPart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 85px;
  height: 89px;
}

.navTitle {
  font-family: "ordibehesht2";
  font-weight: bold;
  font-size: 80px;
  background: rgb(87, 81, 71);
  background: linear-gradient(
    45deg,
    rgba(87, 81, 71, 1) 0%,
    rgba(166, 160, 152, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
.navMenuLink {
  text-decoration: none;
  color: var(--color3);
  font-family: "negarReg";
  font-size: 22px;
}
.navActive {
  background-image: url(./../public/images/Ellipse\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.phoneCall {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: var(--color2);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 5px 10px;
  color: var(--color4);
}
.phoneNumber {
  font-size: 18px;
  margin-top: 3px;
}
.phoneIcon {
  width: 20px;
}
.mobileTitle {
  font-family: "ordibehesht2";
  font-weight: bold;
  font-size: 40px;

  background: rgb(87, 81, 71);
  background: linear-gradient(
    45deg,
    rgba(87, 81, 71, 1) 0%,
    rgba(166, 160, 152, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}

/* Header styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 0;
  gap: 50px;
}
.rightPart {
  width: 55%;
}
.rightPart img {
  width: 100%;
}
.leftPart {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.headerTitle {
  color: var(--color3);
  font-family: "ordibehesht2";
  font-size: 60px;
}
.headerSubTitle {
  font-family: "vazirReg";
  font-size: 26px;
}

/* Menu Styles */

.menu {
  margin: 200px 0;
}
.menuTitle {
  color: var(--color3);
  font-family: "ordibehesht2";
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.menuCategories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.category {
  justify-self: center;
  margin-bottom: 25px;
}
.categoryTop {
  background-image: url(./../public/images/Polygon\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: -35px;
}
.catTopImg {
  width: 40px;
}
.categoryBot {
  background-image: url(./../public/images/Vector\ 5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  height: 200px;
  padding: 15px;
}
.botCatTitle {
  color: var(--color3);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "vazirMed";
  font-size: 26px;
  margin-top: 20px;
}
.botCaption {
  color: var(--color3);
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "vazirReg";
  text-align: center;
  font-size: 16px;
}

/* Choice Styles */
.choice {
  margin: 150px 0;
  overflow-x: hidden;
}
.choiceTitle {
  color: var(--color3);
  font-family: "ordibehesht2";
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.choiceImgWrapper {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.choiceImg {
  width: 90%;
}
.choices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}
.choiceWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  gap: 30px;
  margin-bottom: 40px;
}

.choiceTikWrapper {
  width: 30px;
}
.choiceTik {
  width: 100%;
}
.choiceText {
  font-family: "vazirMed";
  font-size: 28px;
}

/* About Styles */

.about {
  margin: 200px 0 100px 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutTitle {
  color: var(--color3);
  font-family: "ordibehesht2";
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.aboutImgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.aboutImg {
  width: 100%;
}

.aboutBoss {
  color: var(--color3);
  font-family: "ordibehesht2";

  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boss {
  color: var(--color2);
  font-family: "ordibehesht";

  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

/* Gallery Styles */

.gallery {
  background-color: var(--color1);
  padding: 100px 0;
}
.galleryWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.galleryImg {
  width: 30%;
}
/* Contact us Styles */

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 0 0;
}

.addressTitle,
.callTitle {
  font-family: "vazirMed";
  font-size: 28px;
}
.addressWrapper {
  margin-bottom: 50px;
}
.addressText,
.callText {
  font-size: 22px;
  margin-top: 10px;
}

.contactLeft {
  width: 50%;
}
.mapImg {
  width: 100%;
}
.footer {
  background-image: url(./../public/images/footer1.png);
  width: 100vw;
  height: 300px;
}
